nav {
    height: 80px;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    background: #ffffff;
    z-index: 1;
    color: #000;
}

nav ul {
    flex: 1;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 80px;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff0000;
}

nav ul li a[active] {
    color: #ff0000;
}

.navbar-logo {
    height: 50px;
    padding: 15px;
    position: absolute;
}

.navbar-logo.right {
    right: 0;
}
